header {
    max-height: 60%;
}

header .background-img{
    height: 60vh;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    top: 150px;
}

header .header-content .header-content-inner h1 .nal{
    display: inline-block;
    white-space: nowrap;
    text-align: left;
    font-size: 20px;
}

header .header-content .header-content-inner>p{
    display: none;
}

@media(min-width:768px) {
    header .header-content .header-content-inner h1 .al{
        color:#ee4b28;
        font-size: 100px;
    }
}

#create .col-lg-3{
	padding: 30px;
}

#create .img-responsive{
	height: 65px;
	margin: 30px auto;
	vertical-align: middle;
    padding: 0px;
}

#ticket .btn-xl{
    height: 65px;
    background-color: #286293;
    background-color: #ee4b28;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 23px 35px 0 35px;
    border-radius: 0px;
    margin-bottom: 20px;
}

.strikeout{
	position: relative;
}

.strikeout::after {
    border-bottom: 3px solid #ee4b28;
    content: "";
    left: -5%;
    position: absolute;
    right: 0;
    top: 50%;
    width: 110%;
}

#pickup .here-circle{
    position: absolute;
    right: -40px;
    top: 65px;
    height: 150px;
    width: 150px;

    border: solid 10px white;
    border-radius: 100px;
}

#pickup .pickup-stuff:hover .pickup-pic .here-circle{
    border: solid 50px white;
}

#pickup img{
    width: 350px;
    height: 250px;
}

#pickup div p{
	margin: 0 10px;
}

#pickup i{
	margin: 20px auto;
}

#pickup .pickup-stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

#pickup .pickup-stuff>div{
    position: relative;
    width: 350px;
    margin: 0 20px;
}

/*
*************************Receipt*************************
*/

.receipt{
    position: relative;
    width: 380px;
    margin: 30px auto 0px auto;
    background-color: rgb(255,255,255);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.receipt-header{
    position: relative;
    padding: 30px 30px 0 30px;
}

.receipt-header .receipt-fold{
    position: absolute;
    top: 0;
    right:0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px;
    border-color: #f05f40 #f05f40 rgb(230,230,230) rgb(230,230,230);
}

.receipt-header .receipt-staple{
    display: block;
    width: 40px;
    height: 5px;
    margin: 0 auto;  

    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: rgb(210,210,210);
}

.receipt-header .receipt-title{
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(40, 98, 147);
    border-style: double dashed;
    border-width: 0 0 2px 0;
    border-color: rgb(210,210,210);
}

.receipt .receipt-item{
    color: rgb(140,140,140);
    padding: 20px 30px 0 30px;
    margin-bottom: 5px;
}

.receipt .receipt-item .volume-wrapper,
.receipt .receipt-item .printer-wrapper,
.receipt .receipt-item .cost-wrapper{
    width: 100%;
    height: 40px;
}

.receipt .receipt-item .volume-wrapper .input-key,
.receipt .receipt-item .printer-wrapper .input-key{
    float: left;
    width: 25%;
}

.receipt .receipt-item .volume-wrapper .input-wrapper,
.receipt .receipt-item .printer-wrapper .input-wrapper{
    float: right;
    width: 70%;
}

.receipt .receipt-item .volume-wrapper .input-wrapper input{
    width: 170px;
    float: left;
}

.receipt .receipt-item .volume-wrapper .input-wrapper h4{
    float: right;
    margin-right: 13px;
}

.receipt .receipt-item .cost .cost-key,
.receipt .receipt-item .cost .cost-value{
    float: right;
}


.receipt .receipt-item .cost-wrapper{
    font-size: 18px;

    border-style: dotted;
    border-width: 0 0 2px 0;
    border-color: rgb(210,210,210);
    padding-bottom: 10px;
}

.receipt .receipt-item .cost-wrapper i{
    float: left;
    padding: 10px;
    cursor: pointer;
}

.receipt .receipt-item .cost-wrapper i:hover{
    color: white;
    background-color: rgb(140,140,140);
}

.receipt .receipt-item .cost-wrapper h4{
    float: right;
}

.receipt .add-part{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(140,140,140);
    cursor: pointer;
    transition: 0.2;
}

.receipt .add-part:hover{
    background-color: rgb(140,140,140);
    color: white;
}

.receipt .receipt-footer{
    width: 100%;
    color: black;
    background-color: rgb(240,240,240);

    padding: 30px 40px 30px 40px;
}

.receipt .receipt-footer .receipt-footer-item{
    height: 25px;
    margin: 5px 0;
    font-size: 18px;
}

.receipt .receipt-footer .receipt-footer-item.total{
    font-weight: bold;
}

.receipt .receipt-footer .key{
    float: left;
}

.receipt .receipt-footer .value{
    float: right;
}

.receipt .receipt-tear{
    float: left;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(240,240,240) transparent transparent transparent;
}

#quote .receipt-disclaimer{
    max-width: 750px;
    color: white;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

#quote .receipt-disclaimer .asterick{
    color: black;
    font-size: 22px;
}

#pickup 
