header {
    max-height: 60%;
}

header .background-img{
    height: 60vh;
    width: 100%;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    top: 150px;
}

header .header-content .header-content-inner h1 .nal{
    display: inline-block;
    white-space: nowrap;
    text-align: left;
    font-size: 20px;
}

header .header-content .header-content-inner>p{
    display: none;
}

@media(min-width:768px) {
    header .header-content .header-content-inner h1 .al{
        color:#ee4b28;
        font-size: 100px;
    }
}

#sls.printer-section,
#sla.printer-section{
    background-color:rgba(128, 128, 128, 0.16)
}

.printer-header{
    margin-bottom: 30px;
}

.printer-img{
    height: 400px;
}

.printer-img .img-responsive{
    max-height: 100%;
    margin: 0 auto;
}

.printer-materials-header{
    margin: 30px auto;
}

.printer-section .materials{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.printer-section .printer-material{
    flex-basis: 350px; 
    padding: 10px;   
}

.printer-section .printer-material .material-img{
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.printer-section .printer-material .material-det p{
    font-size: 12px;
}